repos:
      - repo: https://github.com/pycqa/isort
        rev: 5.12.0
        hooks:
              - id: isort
                args: ["--settings-path=pyproject.toml"]
                exclude: __init__.py$
                types: [text]
                types_or: [python, cython, pyi]
      - repo: https://github.com/ambv/black
        rev: 22.3.0
        hooks:
              - id: black
      - repo: https://github.com/pycqa/flake8
        rev: 5.0.4
        hooks:
              - id: flake8
      - repo: https://github.com/pycqa/flake8
        rev: 5.0.4
        hooks:
              - id: flake8
                alias: flake8-cython
                name: flake8-cython
                args: ["--config=.flake8.cython"]
                types: [cython]
      - repo: https://github.com/rapidsai/pre-commit-hooks
        rev: v0.3.0
        hooks:
              - id: verify-alpha-spec
                args: [--fix, --rapids-version=24.08]
      - repo: https://github.com/rapidsai/dependency-file-generator
        rev: v1.13.11
        hooks:
              - id: rapids-dependency-file-generator
                args: ["--clean"]
default_language_version:
      python: python3
