name: pr

on:
  push:
    branches:
      - "pull-request/[0-9]+"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pr-builder:
    needs:
      - checks
      - conda-python-build
      - conda-python-tests
      - wheel-build
      - wheel-tests
    secrets: inherit
    uses: rapidsai/shared-action-workflows/.github/workflows/pr-builder.yaml@main
  checks:
    secrets: inherit
    uses: rapidsai/shared-action-workflows/.github/workflows/checks.yaml@main
  conda-python-build:
    # TODO: uncomment line below before merging PR.
    # commenting the line out temporarily allows for faster PR iterations.
    # needs: checks
    secrets: inherit
    uses: rapidsai/shared-action-workflows/.github/workflows/conda-python-matrix-build.yaml@main
    with:
      build_type: pull-request
  conda-python-tests:
    needs: conda-python-build
    secrets: inherit
    uses: rapidsai/shared-action-workflows/.github/workflows/conda-python-tests.yaml@main
    with:
      build_type: pull-request
  wheel-build:
    needs: checks
    secrets: inherit
    uses: rapidsai/shared-action-workflows/.github/workflows/wheels-manylinux-build.yml@main
    with:
      build_type: pull-request
      package-name: ucx_py
      package-dir: .
      cibw-before-build: 'cp {package}/.github/build-scripts/patch-wheel.sh /patch-wheel.sh && sed -i ''s/name = "ucx-py"/name = "ucx-py-cu11"/g''  {package}/pyproject.toml'
      post-repair-amd64: "/patch-wheel.sh {dest_dir}/*.whl"
      post-repair-arm64: "/patch-wheel.sh {dest_dir}/*.whl"
  wheel-tests:
    needs: wheel-build
    secrets: inherit
    uses: rapidsai/shared-action-workflows/.github/workflows/wheels-manylinux-test.yml@main
    with:
      build_type: pull-request
      package-name: ucx_py
      test-docker-options: "--cap-add CAP_SYS_PTRACE --shm-size=8g"
      test-before-arm64: "pip install cupy-cuda11x -f https://pip.cupy.dev/aarch64"
      # skipped test context: https://github.com/rapidsai/ucx-py/pull/909
      test-unittest: "pytest -k 'not test_send_recv_am' --cache-clear -vs ./ucp/_libs/tests/ && pytest --cache-clear -vs ./tests"
      test-smoketest: "pytest -k 'not test_send_recv_am' --cache-clear -vs ./ucp/_libs/tests/ && pytest --cache-clear -vs ./tests"
